<%= link_to '공지작성', new_notice_path, :class => "btn btn-lg btn-block offset-5", :style => "width: 17%; margin-top:10%; margin-bottom: 1%" %>
<% @notices.each do |notice| %>
  <a href="/notices/<%= notice.id %>" class="review-card offset-3">
    <div class="d-flex justify-content-between">
      <b>작성 번호: <%=notice.id%></b>
      <h5><%= notice.title %></h5>
      <b>작성자: <%=notice.user_id%></b>
    </div>
    <br/>
    <div class="">
      <center><p><%= content_tag(:span, truncate( raw( sanitize(notice.content, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 100, :omission => "..."), class: "etc") %></p></center>
    </div>
  </a>
<%end%>

<%= paginate @notices %>


<br/><br/>