<div class="show-container offset-3" style="margin-top: 10%">
  <p id="notice"><%= notice %></p>
  
  <div>
    <strong>제목:</strong>
    <%= @notice.title%>
  </div>
  
  <div>
    <strong>작성자:</strong>
    <%= @notice.user %>
  </div>
  
  <div>
    <strong>내용:</strong>
    <%= @notice.content %>
  </div>
  <br/><br/>
  <center><% if current_user.has_any_role? :admin %>
  <%= link_to '수정', edit_notice_path(@notice) ,:class => "btn btn-lg"%>
  <% end %>
  <%= link_to '뒤로가기', notices_path ,:class => "btn btn-lg"%></center>
</div>
