<%= link_to 'Q&A',new_qna_path, :class => "btn btn-lg btn-block offset-5", :style => "width: 17%; margin-top:10%; margin-bottom: 1%" %>

<% @qnas.each do |qna| %>
  <div class="overly offset-3"></div> 
  <a href="/qnas/<%= qna.id %>" class="review-card offset-3">
    <div class="d-flex justify-content-between">
      <b>작성 번호: <%=qna.id%></b>
      <h5><%= qna.title %></h5>
      <b>작성자: <%=qna.user.name%></b>
    </div>
    <br/>
    <div class="">
      <center><p><%= content_tag(:span, truncate( raw( sanitize(qna.content, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 100, :omission => "..."), class: "etc") %></p></center>
    </div>
  </a>
<%end%>
<%= paginate @qnas %>


