

<div class="row">
  <div class="col-md-12">
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => "form-control" %>
  </div>
  <!-- tinymce 편집기 적용 -->
  <div class="form-group">
      <%= f.label :content %>
      <%= tinymce %>
      <%= f.text_area :content, id: :content, class: "content-area form-control tinymce", rows: "10" %>
  </div>
  <div class="actions">
    <%= f.submit "작성" , :class => "btn btn-lg btn-block offset-sm-4 col-4"%>
  </div>
<% end %>
  </div>
</div>