
  <% if @temp == "1" %>
    <div class="post-body offset-2 col-8">
  		<% @mypages.each do |mypage| %>
  			<% if mypage.user.user_type == "1" %>
  			<div class="supply-card">
  				<div id="image-section-padding">
  					<% if mypage.user.avatar.blank? %>
  		         <%= link_to image_tag("default_image.png", :class => "profile-img"), "/mypages/#{mypage.user.id}"%>
  		      <% else %>
  		          <%= link_to image_tag("#{mypage.user.avatar}", :class => "profile-img"), "/mypages/#{mypage.user.id}"%>
  		      <% end %>
  				</div>
  				<div id="supply-inform">
  					<!-- 이름 -->
  						<label>이름 : </label><%= mypage.user.name %><br/>
  					<!-- 한줄 소개 -->
  						<label>한줄 소개 : </label><%= mypage.user.introduce %><br/>
  					<!-- 평점 -->
  					  <label>평점 : </label><%= mypage.user.rating %>
  				</div>
  				<div id="like-worst">
  						<label class="like-worst-label">좋아요 : <%= mypage.get_upvotes.size %></label>
              <label class="like-worst-label">싫어요 : <%= mypage.get_downvotes.size %></label>
  				</div>
  			</div>
  		<%end%>
  	<%end%>
  </div>
  <!--소비자-->
  <% elsif @temp == "2" %>
  <center style="margin-top: 7%;">
    <% if (current_user.user_type == "2" && @temp == "2") || (current_user.user_type == "3" && @temp == "2") %>
      <%= link_to '생성', new_post_path, :class => 'btn btn-lg btn-block', :style => "background-color: #96B566; width: 20%; margin-bottom: 5%" %>
    <% end %>
    <form action="/posts/2/search" method="get">
      <select class="custom-select col-2" name="category" style="font-size: 14px;">
        <option selected>분류</option>
        <option value="공사">공사</option>
        <option value="리모델링">리모델링</option>
        <option value="리모델링+공사">리모델링+공사</option>
      </select>
      <button type="submit" style="color:white; font-size:13px;" class="btn btn-lg">이동</button>
    </form>
  </center>
  <div class="container">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th class="text-center">번호</th>
          <th class="text-center">이름</th>
          <th class="text-center">제목</th>
          <th class="text-center">내용</th>
          <th class="text-center">분류</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td class="text-center"><%=post.id%></td>
            <td class="text-center"><%=post.user.name%></td>
            <td class="text-center"><%= link_to post.title, post, :class => "post-title-text" %></td>
            <td class="text-center"><%=post.content.html_safe%></td>
            <td class="text-center"><%=post.category%></td>
            <td class="text-center">
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
  <% end %>
  <%= paginate @posts %>
