<div class="show-container offset-3" style="margin-top: 10%;">
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content.html_safe %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.email %>
</p>

<%= form_for(@comment, url: post_comments_path(@post), remote: true) do |f| %>
  <div class="input-field">
    <%= f.text_area :comment, class: "form-control", placeholder: "댓글쓰기...", required: true, id: "comment", rows: "3" %>
  </div>
  <br />
  <div class="input-field">
    <%= f.button "댓글 쓰기", class: "btn indigo darken-4 right" %>
    <% if @matching.nil? %>
    
    <% else %>
    <%= link_to "리뷰 쓰기", "/reviews/new/#{@post.id}", class: "btn indigo darken-4 right" %>
    <% end %>
  </div>
<% end %><br><br>
<script>
function matching() {
  var input = prompt("매칭", "공급자의 이메일을 입력해주세요.");
  document.getElementById("supply").value = input;
  
  var address = "/matching/" + <%= @post.id %> + "/" + input;
  
  location.replace(address);
}
</script>
<% if @post.user_id == current_user.id %>
<input type="text" name="supply" id="supply">
<button type="button" name="matching" id="matching" onclick="matching();">매칭 완료</button>
<% end %>
<% if @post.comments.present? %>
    <ul class="collection">
      <div id="comment_box">
        <% @post.comments.each do |c| %>
          <li class="collection-item" id="comment_<%= c.id %>">
            <span class="title"><%= @post.user.email %></span>
            <span class="right"><%= time_ago_in_words c.created_at %></span><br><br><br>
            <span class="pre-line"><%= c.comment %></span>
            <% if c.user.id == current_user.id %>
              <%= link_to '삭제', post_comment_path(@post, c), method: :delete, class: "right", remote: true %>
            <% end %>
          </li>
        <% end %>
      </div>
    </ul>
  <% else %>
    <ul class="collection">
      <div id="comment_box">
      </div>
    </ul>
  <% end %>

<% if @post.user == current_user %>
<%= link_to '수정', edit_post_path(@post) %> 
<%= link_to '뒤로가기', '/posts?membertype=2' %>
<%= link_to '삭제', @post, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' } %>
<% end %>
</div>
