<script>
  $( document ).ready( function() {
    $(".test1")
      .click( function() { 
        $(this).attr( 'src', '/enteredstar.png' );
        $(".test2").attr( 'src', '/blankstar.png' );
        $(".test3").attr( 'src', '/blankstar.png' );
        $(".test4").attr( 'src', '/blankstar.png' );
        $(".test5").attr( 'src', '/blankstar.png' );
        $(".rating").val("1");
      } )

      $(".test2")
      .click( function() { 
        $(this).attr( 'src', '/enteredstar.png' );
        $(".test1").attr( 'src', '/enteredstar.png' );
        $(".test3").attr( 'src', '/blankstar.png' );
        $(".test4").attr( 'src', '/blankstar.png' );
        $(".test5").attr( 'src', '/blankstar.png' );
        $(".rating").val("2");
      } )

      $(".test3")
      .click( function() { 
        $(this).attr( 'src', '/enteredstar.png' );
        $(".test1").attr( 'src', '/enteredstar.png' );
        $(".test2").attr( 'src', '/enteredstar.png' );
        $(".test4").attr( 'src', '/blankstar.png' );
        $(".test5").attr( 'src', '/blankstar.png' );
        $(".rating").val("3");
      } )
      
      $(".test4")
      .click( function() { 
        $(this).attr( 'src', '/enteredstar.png' );
        $(".test1").attr( 'src', '/enteredstar.png' );
        $(".test2").attr( 'src', '/enteredstar.png' );
        $(".test3").attr( 'src', '/enteredstar.png' );
        $(".test5").attr( 'src', '/blankstar.png' );
        $(".rating").val("4");
      } )

      $(".test5")
      .click( function() { 
        $(this).attr( 'src', '/enteredstar.png' );
        $(".test1").attr( 'src', '/enteredstar.png' );
        $(".test2").attr( 'src', '/enteredstar.png' );
        $(".test3").attr( 'src', '/enteredstar.png' );
        $(".test4").attr( 'src', '/enteredstar.png' );
        $(".rating").val("5");
      } )

  } );
</script>
<%= form_for(Review.new, url: "/reviews/#{@temp}") do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title , :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :content %><br>
    <%= f.text_field :content , :class => "content-area form-control"%>
  </div>
  <div class="form-group">
    <%= f.hidden_field :post_id, value: "#{@temp}" %>
  </div>
  <div class="form-group">
    <%= f.file_field :avatar %>
  </div>
  <div class="form-group"><center>
    <img src="/blankstar.png" class="test1">
    <img src="/blankstar.png" class="test2">
    <img src="/blankstar.png" class="test3">
    <img src="/blankstar.png" class="test4">
    <img src="/blankstar.png" class="test5">
    <%= f.hidden_field :rating, :class => "rating", :name => "rating" %></center>
    <br>
  </div>
  <div class="actions">
    <%= f.submit "ì‘ì„±" , :class => "btn btn-lg btn-block offset-sm-4 col-4" %>
  </div>
<% end %>
