<head>
  <title>RE:space</title>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="assets/bootstrap.min.css" rel="stylesheet">
  <link href="assets/stylesheets/nivo-slider.css" rel="stylesheet">
  <link href="assets/stylesheets/owl.carousel.css" rel="stylesheet">
  <link href="assets/stylesheets/owl.transitions.css" rel="stylesheet">
  <link href="assets/stylesheets/animate.min.css" rel="stylesheet">
  <link href="assets/stylesheets/venobox.css" rel="stylesheet">
  <link href="assets/stylesheets/nivo-slider-theme.css" rel="stylesheet">
  <link href="assets/stylesheets/style.css" rel="stylesheet">
  <link href="assets/stylesheets/responsive.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css"  href="/css/login.scss" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <style>
    body{
      font-family: 'SeoulHangangM';
    }
    .logo{
      font-family: 'designhouseOTFLight00';
      font-size: 50px;
      color: #BCE27F;
    }
    .logo:hover{
      color: #BCE27F;
      text-decoration: none;
      background-color: rgba(255,255,255,1);
    }
    #form{
      font-family: 'SeoulHangangM';
    }
    
    .login-container{
        margin-top: 5%;
        padding-top: 2%;
        padding-bottom: 1%;
        border-style: solid;
        border-color: #96B566;
        background-color: #ffffff;
        text-align: center;
        display: none;
    }
    .signUp-container{
      margin-top: 0%;
      height: 80%;
    }
    .form-control{
      height: 6%;
    }
    #signupImg{
      width: 50%;
      height: 97%;
      margin-top: 8%;
      margin-right: 5%;
      float:left;
    }
    .form-inputs, .form-actions{
      text-align: center;
      width: 50%;
      margin-bottom: 5%;
    }
    #login-button{
      background-color: #96B566;
      outline: none;
      
    }
    .supply, .customer{
      margin: 5%;
      padding: 100px; 
      background-color: #BCE27F; 
      font-family: 'SeoulHangangM'; 
      font-size: 30px;
      color: white ;
      border: 2px solid;
      border-color: #96B566; 
      border-radius:30px;
    }
    
    a.supply:visited, a.customer:visited{
      color: white;
    }
    .supply:hover, .customer:hover{
      background-color: #BCE27F; 
      color: white ;
      text-decoration: none;
    }
    .links:hover{
      background-color: #ffffff !important;
      color: #000000;
    }
    .links:visited{
      color: #000000 !important;
    }
  </style>
</head>
<body>
<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
          <div class="col-md-4">
            <% if user_signed_in? %>
            <ul class="nav-item dropdown hidden-md-down">
            <%= link_to "#", class: "nav-link dropdown-toggle", data: {toggle: "dropdown" }, role: "button", aria: {haspopup: "true", expanded: "false" } do %>
            <%= current_user.name %>
            <% end %>
            <ul class="dropdown-menu dropdown-menu-right dropdown-info">
            <li class="dropdown-item"><%= link_to "포토폴리오" %> </li>
            <li class="dropdown-item"><%= link_to "내가 좋아하는 공급자" %> </li>
            <li class="dropdown-item"><%= link_to "내 게시글" %> </li>
            <li class="dropdown-item"><%= link_to "정보수정", "/users/edit", method: :get %></li>
            <li class="dropdown-item"><%= link_to "로그아웃", destroy_user_session_path %> </li>
            </ul>
            </ul>
            <% else %>
            <%= link_to '로그인' ,new_user_session_path, :class => "left" %>
            <%= link_to '회원가입' , new_user_registration_path, :class => "left" %>
            <% end %>
          </div>
          <div class="col-md-4">
            <center><%= link_to 'RE:space', '/', :class => "logo " %></center>
          </div>
          <div id="navbarResponsive" class="col-md-4">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/home/matching">리모델링 찾기</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/reviews">리뷰</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/notices">공지</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/qnas">QnA</a>
              </li>
            </ul>
          </div>
    </nav>
<%= yield %>
<script src="assets/javascripts/jquery.min.js"></script>
<script src="assets/javascripts/bootstrap.min.js"></script>
<script src="assets/javascripts/owl.carousel.min.js"></script>
<script src="assets/javascripts/venobox.min.js"></script>
<script src="assets/javascripts/jquery.knob.js"></script>
<script src="assets/javascripts/wow.min.js"></script>
<script src="assets/javascripts/parallax.js"></script>
<script src="assets/javascripts/easing.min.js"></script>
<script src="assets/javascripts/jquery.nivo.slider.js" type="text/javascript"></script>
<script src="assets/javascripts/jquery.appear.js"></script>
<script src="assets/javascripts/isotope.pkgd.min.js"></script>
<script src="assets/contactform.js"></script>
<script src="assets/main.js"></script>


</body>
</html>