
<br><br><br><br>

<div class="signUp-container offset-sm-2 col-md-8">
  <img src="/oneroom.png" alt="img" id="signupImg"/>
  <div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      
      <!-- 유형 추가 -->
      <div class="form-group">
        <%= f.radio_button :user_type, "1" %> 
        <%= f.label :user_type, '공급자' %>
        <%= f.radio_button :user_type, "2" %>
        <%= f.label :user_type, '수요자' %>
      </div>
    
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, :class => "form-control col-md-4", autofocus: true, autocomplete: "email"%>
      </div>
      
      <!-- 이름 추가 -->
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, :class => "form-control col-md-4", autocomplete: "off" %>
      </div>
    
      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, :class => "form-control col-md-4", autocomplete: "off" %>
      </div>
    
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, :class => "form-control col-md-4", autocomplete: "off" %>
      </div>
      
      <!-- 프로필 사진 추가(carrierwave, mini_magick) -->
      <div class="field">
        <%= f.label :avatar do %>
          <%= f.file_field :avatar %>
          <%= f.hidden_field :avatar_cache %>
        <% end %>
      </div>
      
      <!-- 한 줄 소개 추가 -->
      <div class="form-group">
        <%= f.label :introduce %>
        <%= f.text_field :introduce, :class => "form-control col-md-4", autocomplete: "off" %>
      </div>
    
      <div class="form-group">
        <%= f.submit "회원가입", :class => "btn btn-lg btn-block offset-sm-7 col-3", :id => "login-button", :style => "height: 9%; font-size: 15px; margin-left: 59%"%>
      </div>
    <% end %>
    <div style="margin-left: 69.5%;">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>

    <script>
      $(document).ready(function(){
        $("#mainNav").css("display","none");
      });
    </script>